{% extends 'inventory/base.html' %} 

{% block content %}

{% if user.is_authenticated %}

<div class="p-2 mt-5 text-center">
	<h2>Start Tracking Your Inventory</h2>
	<div class="p-2 my-3">
		<button type="button" class="btn btn-success">
			<a class="text-white" href="{% url 'dashboard' %}">Dashboard</a>
		</button>
	</div>
	<div class="p-2 my-3">
		<button type="button" class="btn btn-info">
			<a class="text-white" href="{% url 'inventory' %}">Inventory</a>
		</button>
	</div>
	<div class="p-2 my-3">
		<button type="button" class="btn btn-warning">
			<a class="text-white" href="{% url 'finance' %}">Finance</a>
		</button>
	</div>
	
</div>

{% else %}

<div class="p-2 mt-5 text-center">
	<h1>CSCI 3300 Project</h1>

	<div class="p-2">
		<p>Hello and Welcome to our project!</p>
		<p>For this project, we decided to create a IMS for Resturants</p>
		<p>This software comes equipped with:</p>
		<div>
			<p>Dashboard</p>
			<p>Inventory Tracking</p>
			<p>Finance Tracking</p>
		</div>
	</div>

	<div class="mt-5">
		<h4>Creators:</h4>
		<p>Javier Tamayo</p>
		<p>Rishi Patel</p>
		<p>Christopher Dearborn</p>
	</div>

	<div class="mt-5">
		<h5>Get Started By Creating Your Account</h5>
	</div>
	<div class="mt-1">
		<button type="button" class="btn btn-success mt-3">
			<a class="text-white" href="{% url 'signup' %}">Sign Up</a>
		</button>
	</div>
</div>

{% endif %}

{% endblock content %}