{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
	<div class="col-11 col-md-4 mx-auto mt-5">
		<div class="">
			<a class="text-white btn btn-danger" style="text-decoration: none;" href="{% url 'inventory' %}">Go Back</a>
		</div>
		<h2 class="mt-5" >Manage Categories</h2>
		<div class="d-flex justify-content-end">
			<a href="{% url 'add-category' %}" class="btn btn-success mx-2">Add New Category</a>
		</div>
		<table class="table table-hover table-striped">
			<thead>
				<th scope="col">Category Name</th>
				<th scope="col">Manage</th>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<th scope="col">{{ category.name }}</th>
						<td scope="col"><a class="btn btn-warning px-3 py-1" href="{% url 'edit-category' category.id %}">Edit</a></td>
						<td scope="col"><a class="btn btn-danger px-3 py-1" href="{% url 'delete-category' category.id %}">Delete</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>

{% endblock content %}